@import "tailwindcss";
@import "@nuxt/ui";

@import '@vue-flow/core/dist/style.css';
@import '@vue-flow/core/dist/theme-default.css';

/* Import Google Font */
/* @import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"); */

:root {
  --color-m1: #0d0d0d;
  --color-m2: #262626;
  --color-m3: #404040;
  --color-m4: #737373;
  --color-m5: #b3b3b3;
  --color-m6: #d0d0d0;
  --color-m7: #fdfdfd;
  --main-font: "Raleway", serif;
}

* {
  font-family: var(--main-font);
  font-optical-sizing: auto;
  font-style: normal;
}

/* Theming */
.dark {
  background-color: var(--color-m2);
  color: var(--color-m7);
}

/* Transición suave para cambio de tema */
:root,
.dark {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Asegurar que la transición también funcione en elementos específicos */
body {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Input Desing */
input {
  font-family: sans-serif;
  letter-spacing: 0.05cap;
}

.dark input {
  background-color: var(--color-m7);
}

/* Use a purple theme for our custom node */
.vue-flow {
  background-color: var(--color-m2);
  box-shadow: 0 0 0 1px var(--color-m2);
}

.vue-flow__node {
  background-color: var(--color-m7);
  border-radius: 8px;
  border: none;
  box-shadow: 0 0 0 1px var(--color-m2);
}

.dark .vue-flow__node {
  background-color: var(--color-m7);
  color: var(--color-m2);
}

.vue-flow__edge {
  stroke: var(--color-m2);
}

.vue-flow__background {
  background-color: var(--color-m2);
}

.vue-flow-container {
  border: none;
}

.dark .vue-flow {
  background-color: var(--color-m7);
  border-radius: 8px;
  border: none;
  box-shadow: 0 0 0 1px var(--color-m2);
}